html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background: linear-gradient(rgb(0, 0, 0), rgb(67, 67, 67));
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  font-family: "Lato", Arial, sans-serif;
}

.card {
  position: relative;
  border: 1px solid black;
  height: 250px;
  width: 175px;
  float: left;

  &:hover {
    cursor: pointer;
  }

  img {
    width: 100%;
    height: 100%;
  }

  &:hover {
    .card-data {
      display: block;
    }
  }

  .card-data {
    display: none;
    background: #fff none repeat scroll 0 0;
    height: 100%;
    width: 100%;
    opacity: 0.9;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.09);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    .remove-button {
      position: absolute;
      right: 3px;
      top: 3px;
      color: black;
      font-weight: bold;

      &:hover {
        color: red;
      }
    }

    .title {
      position: absolute;
      left: 50%;
      top: 25%;
      transform: translate(-50%, -50%);
    }

    .year {
      position: absolute;
      left: 50%;
      top: 65%;
      transform: translate(-50%, -50%);
    }

    .rating {
      position: absolute;
      left: 50%;
      top: 80%;
      transform: translate(-50%, -50%);
    }
  }
}
